@import url('https://fonts.cdnfonts.com/css/marvel-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background-color: #EC1D24;  
    font-family: 'Marvel', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-container .logo-image img {
    width: 100vw;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#button {
    background-color: #EC1D24;
    box-shadow: 0 8px 20px #bd060c;
    border-color: #bd060c;
    border-radius: 12px;
    color: #bd060c;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #EC1D24;
}

#button img {
    height: 30px;
    width: auto;
    background-color: transparent;
    transition: transform 0.3s ease;
}

#button:hover img {
    transform: rotate(10deg) scale(1.1);
}
